* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
    list-style-type: none;
}
body {
   font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.btn-primary {
    padding: 0.75em 1.75em;
    background-color: #138241;
    border-radius: 8px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.6;
    color: white;
}

.btn-secondary {
    padding: 0.75em 1.75em;
    background-color: transparent;
    border-radius: 8px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.6;
    color: #138241;
}
input {
    padding: 0.75em 1.75em;
    border: none;
}
button {
    border: none;
}
.container {
    max-width: 1000px;
    width: 90%;
    margin: auto;
}

 .pb {
    padding-bottom: 5rem;
 }
 .pt {
    padding-top: 5rem;
 }
 .__pb {
    padding-bottom: 2.5rem;
 }
.section-title {
    text-align: center;
}
.title {
    text-align: left;
    padding-bottom: 2.5rem;
}

h2 {
    font-size: 40px;
}

/******************************token*************************/
.token {
    
    background-color: #F6F8FA;
}

.__token-container {
    display: flex;
    flex-direction: column;
    gap: 1.875rem;
}


h2 {
    font-size: 40px;
}

.token p {
    font-size: 20px;
    line-height: 1.6;
}

/******************************introduce*************************/

.introduce {
    background-color: #F6F8FA;
}
.introduce .title {
    text-align: center;
    padding-bottom: 2.5rem;
}

.introduce .service {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.25rem;
    align-items: center;
}
.introduce .service h3 {
    padding: 16px 0;
}



.introduce article {
    border: 2px solid #C4C4C4;
    border-radius: 6px;
    padding: 2rem 2rem 1rem;
    line-height: 1.6;
    background-color: #F6F8FA;
    height: fit-content;
}
.introduce article p {
    padding: 0 0 1rem 0;
    color:rgba(4, 36, 17, 0.8);
}
.introduce article a {
    color: #F7941D;

}

.introduce .social img {
    background-color: #138241;
    padding: .7rem;
    border-radius: 4px;
}
.introduce .utility-form img {
    background-color: #138241;
    padding: .7rem;
    border-radius: 4px;
}
.introduce .investment img {
    background-color: white;
    padding: .7rem;
    border-radius: 4px;
}
.introduce .investment {
    background-color: #138241;

}
.introduce .investment p {
    color: #C5EDCE;

}

.introduce .investment h3 {
    color: white;
}
.introduce .investment a {
    color: #C5EDCE;

}



/******************************contract*************************/

.contract {
    background-color: #F6F8FA;
}
.contract-details {
    display: grid;
    grid-template-columns: 20% 60% 20%;
    align-items: flex-end; 
    line-height: 1.8;
    border-bottom: 1px solid #DBDBDB;
    padding-top: 0.625rem;
}

.contract-details h3 {
    border-bottom: 3px solid #138241;
    width: 80%;
    min-width: 80%;
}
.contract-details p {
    padding-left: 2.5rem;
}
.contract button {
    border: none;
    background-color: rgba(101, 236, 101, 0.8);
    padding: 0.13rem;
}

/******************************tokenomics*************************/
.tokenomics {
    background-color: #F6F8FA;
}
.tokenomics-grid {
    display: grid;
    grid-template-columns: 70% 30%;
    justify-content: space-between;
    align-items: center;
    line-height: 1.8;
}
.tokenomics-grid ul {
    display: flex;
    gap: 10px;
    width: fit-content;
    padding: 7px;
    align-items: flex-end;
    
}
.tokenomics-grid ul li {
    list-style-type: square;
}

.tokenomics-right {
    text-align: center;
}
.tokenomics-right img {
    max-width: 800px;
    width: 70%;
}


/******************************pre-sale*************************/
.banner {
    background-color: orange;
    padding: 5rem 0 5rem 0;
    text-align: center;
    border-radius: 8px;
}


.banner .btn-primary {
    padding: 0.75em 1.75em;
    background-color: white;
    border-radius: 8px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.6;
    color: orange;
}
.price div{
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 1rem;
    align-items: baseline;
    padding: 0.3em 0;
    
}


/******************************airdrop*************************/

.airdrop {
    background-color: #138241;
    
}

#airdrop-form {
    display: flex;
    justify-content: center;
      
}

#airdrop-form #pesa-address {
    border: 1px transparent white;
    border-radius: 20px 0 0 20px;
    margin-right: 0.3em;
    padding-right: 20em;
    background-color: rgba(255, 255, 255, 0.7);
    
}
#airdrop-form #air-btn {
    border-radius: 0 20px 20px 0;
    padding: 1em 1em;
    background-color: #02461e;
    color: rgb(230, 227, 227);
}



/******************************roadmap*************************/
.roadmap {
    background-color: #F6F8FA;
}

.top,.bottom {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    min-width: fit-content;
    gap: 0rem;
    margin: auto;
}
.phase {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 2.5em;
    line-height: 1.8;
    background-color: #13824133;
    padding: 2.5em 1.875em 2.5em 3.125em;
    border-radius: 24px;
    
}


.phase li span {
    color: black;
}

.phase img {
    width: 125px;
    
}
.phase li {
    list-style-type: square;
}
.phase1 h3 {
    color: #138241;
}
.phase1 li {
    color: #138241;
}
.phase2 h3 {
    color: #2872D3;
}
.phase2 li {
    color: #2872D3;
}
.phase3 h3 {
    color: #F4726D;
}
.phase3 li {
    color: #F4726D;
}
.phase4 h3 {
    color: #5739A4;
}
.phase4 li {
    color: #5739A4;
}
.phase .left {
    text-align: left;
}


/******************************Footer*************************/
footer {
    background-color: #138241;
}


.__footer-container form {
    display: flex;
    justify-content: space-between;
    border: 1px solid #138241;
    background-color: #fff;
    border-radius: 0;
    width: 80%;
    padding: 0.3em;
    margin: 2.5em auto;
}
.__footer-container form input {
    line-height: 1.6;
    padding:0 10em 0 5em;
    font-size: 16px;
    background-color: #fff;
    
}
.__footer-container form input:active {
    background-color: #fff;
}
.btn {
    padding: 0.75em 2.5em;
    background-color: #138241;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.6;
    color: white;
}
 

.footer-nav.footer {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-items: center;
    align-items: flex-start;
    gap: 1.25rem;
    max-width: 70vw;
    margin: 0 auto 0.9375em;
}
.footer-nav a {
    display: block;
    line-height: 1.6;
    color: #FFFFFFCC;

}
.footer-nav h3 {
    color: white;
    padding-bottom: 7px;
}
.__pt {
    padding-top: 15px;
}
.copy {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: white;
}


/*******************************media Query*****************/
@media (max-width: 880px) {
    .top, .bottom {
        gap: 1.5rem;
    }
    .coin {
        display: none;
    }
    .phase {
        gap: 1.5em;
        width: max-content;
    }
    .__footer-container form input {
        padding: 0 0 0 2rem;
    }
}
@media (max-width: 760px) {
    .top, .bottom {
        display: grid;
    }
    .bottom {
        padding-top: 0;
    }
    
    .introduce .service {
        display: flex;
        flex-direction: column;
    }
}

@media (max-width: 558px) {
    .__footer-container form, #airdrop-form {
        display: block;
        text-align: center;
        background: none;
        border: none;
        border-radius: 0;
        width: 80%;
        padding: 0;
        margin: 1.78rem auto;
    }
    .__footer-container form input {
        padding: 0.5em 0;
        text-align: center;
        font-size: 16px;
        background-color: #fff;
        width: 100%;
        margin-bottom: 5px;
        
        
    }
    #airdrop-form #pesa-address {
        border: 1px transparent white;
        border-radius: 20px;
        margin-right: 0;
        width: 100%;
        padding-right: 0;
        text-align: center;
        margin-bottom: 5px;
    }
    #airdrop-form #air-btn {
        border: 1px transparent white;
        border-radius: 20px;
        margin-right: 0;
        width: 100%;
        padding: 0.9em 2.5em;
    }
    
    .btn {
        padding: 0.3em 2.5em;
        width: 100%;
        border: 1px solid rgb(170, 169, 169);
    }
    
}
@media (max-width: 480px) {
    .tokenomics-right img {
        display: none;
    }
    .tokenomics-grid {
        display: block;

    }
    .price div {
        display: block;
    }
    .footer-nav.footer {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
   
}
